@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab5 IT 2020</h1>
    <p>Aleksandar Ivanovski 186063</p>
</div>
<div class="container-fluid">
    <h3>There are three roles in the app</h3>
    <ul>
        <li>Administrator</li>
        <li>Manager</li>
        <li>User</li>
    </ul>
    <p>Each user uppon registration is assigned the role "User"</p>
    <p>Only the Administrators can assign roles to other users</p>
</div>
